@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,500&family=Pacifico&display=swap");

:root {
  --yellow: #fddd13;
  --orange: #fba276;
  --red: #f8898d;
  --blue: #60b3e0;
  --dark-blue: #1e3f50;
  --grey: #717271;
  --light: #f0ead6;
}

body {
  background-color: var(--light);
}

.navbar-brand,
nav {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: 400;
  background-color: var(--dark-blue);
  color: var(--light);
  padding: 0rem 0.5rem;
  margin: 0rem;
}

.navbar-brand:hover {
  color: var(--light);
}

.search-params,
.search-items {
  background-color: var(--dark-blue);
  color: var(--light);
  padding: 0rem 0rem 0rem 0.75rem;
}

.form-control {
  display: flex;
  margin: 0.25rem 0.5rem 0rem 0.5rem;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--dark-blue);
  border: 0.25rem solid var(--grey);
}

.btn-secondary {
  background-color: var(--dark-blue);
  border: 0.25rem solid var(--grey);
  border-radius: 0.25rem;
  color: var(--light);
  margin: 0.25rem 0rem;
}

.refine-search {
  background-color: var(--dark-blue);
  border: 0.25rem solid var(--grey);
  border-radius: 0.25rem;
  color: var(--light);
  margin: 0.25rem 0rem;
  padding: 6px;
}

.dropdown-menu {
  background-color: var(--light);
}

.dropdown-item:hover {
  background-color: var(--dark-blue);
  color: white;
}

.search-results {
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
}
.result-template {
  border: 0.2rem solid var(--dark-blue);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.25rem 0rem;
}

.pet-name {
  margin: 0rem;
}

.pet-img {
  width: 250px;
  padding: 0.5rem;
  border-radius: 1rem;
}

.org-address-1,
.org-address-2 {
  margin-left: 1rem;
}

.org-img {
  height: 200px;
  padding: 0.5rem;
  border-radius: 1rem;
}

.pet-info-contact {
  padding: 0rem;
}
.organization-phone {
  margin-left: 0.5rem;
}
