@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,500&display=swap');

:root {
    /* Colors */
    --yellow: #fddd13;
    --orange: #fba276;
    --red: #f8898d;
    --blue: #60b3e0;
    --grey: #717271;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    background-color: red;
}